.balance_info {
  @apply flex items-center gap-2;
  .balance_count {
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(
      263deg,
      #4e29d7 0.76%,
      #a42161 45.59%,
      #c87f37 101.51%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.not_found_block {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
